.ipynb_checkpoints

intro-to-pytorch/__pycache__/

intro-to-pytorch/MNIST_data/

intro-to-pytorch/Cat_Dog_data/

intro-to-pytorch/F_MNIST_data/

intro-to-pytorch/checkpoint_dog_cat\.pth

convolutional-neural-networks/mnist-mlp/data/

convolutional-neural-networks/cifar-cnn/data/
